
/* PHONE CHECKER */

.phone_block {
    padding: 100px 0;
}

.inner_phone_block {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    border: 1px solid orange;
    height: 300px;
    border-radius: 20px;
    align-items: center;
}

.form_phone {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form_phone button {
    width: 100%;
    margin: 20px 0;
}

/* TAB SLIDER */

.tab_slider {
    padding: 100px 0;
}

.tab_content_block {
    width: 700px;
    height: 270px;
    border: 1px solid orange;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.tab_content_block p {
    color: white;
    margin-top: 10px;
    text-align: justify;
}

.tab_content_items {
    width: 400px;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.tab_content_item {
    padding: 10px;
    width: 1000px;
    height: 50px;
    color: white;
    border: 1px solid orange;
    border-radius: 10px;
    text-align: left;
    font-size: 20px;
    cursor: pointer;
    user-select: none;
    transition: .3s;
}

.tab_content_item:hover {
    transform: translateX(-20px);
}

.tab_content_item:active {
    transform: translateX(-40px);
    transition: .15s;
}

.tab_content_item_active {
    background: orange;
    color: black;
    border: 3px solid white;
    transform: translateX(-15px);
}

.tab_contents_block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

/*------CARD SWITCHER------*/

.card_switcher {
    padding: 100px 0;
}

.card {
    width: 500px;
    height: 150px;
    border: 1px solid #F79300;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    transition: .2s;
}

.card p {
    color: #F79300;
    font-size: 20px;
}

.card span {
    color: white;
    font-size: 30px;
}

.inner_card_switcher {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* card states */
.card_true {
    box-shadow: 0 0 30px limegreen;
    transition: .2s;
}

.card_false {
    box-shadow: 0 0 30px red;
    transition: .2s;
}

/* exchange rates */
.converter {
    margin: 100px 0;
}
.inner_converter {
    margin-top: 50px;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-between;
}

.currency {
    width: 350px;
}
